* { margin: 0; padding: 0; }

body {
  position: relative;
}

@media (max-width: 768px) {
	#art, #logo {
		display: none;
	}

}
@media (min-width: 768px) {

	#fallback {
		display: none;
	}

	.navbar-nav {
	    margin: 0 auto;
	    display: table;
	    table-layout: fixed;
	    float:none;
	    font-family: 'offside', sans-serif;
	}
}  

#bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: #212222;
	z-index: -10000;
}

#art {
	margin-top: 80px;
	position: relative;
	width: 740px;
	height: 640px;
	z-index: 10;
}

#logo {
	position: relative;
	top: -450px;
	z-index: 10000;
	height: 260px;
	width: 800px;
	fill-opacity: 0;
}

#Mission {

}

#Logistics {
	height: 1000px;
}

.col-md-offset-2 {
	width: 800px;
}
